body {
    background-color: #DCDCDC;
}

.container {
    background-color: #DCDCDC;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.welcome-msg {
    font-family: sax-mono, monospace;
}

.mainTitle {
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.list {
    border: 2px solid black;
    text-align: left;
    font-size: 18px;
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
}