body {
    background: #957DAD;
}

.quote-machine {
    background-size: 100vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.quote-box {
    background: #fff;
    font-size: 35px;
    border-radius:1ch;
}

.inside-box {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.author {
    font-size: 18px;
    text-align: end;
    margin-right: 30px;
}

.creator {
    padding-top: 20px;
}

.buttons {

}
